.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Cinzel Decorative', cursive;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #4a2e12;
}

input {
    padding: 10px;
    border: 2px solid #4a2e12;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: #4a2e12;
    color: #fdf7f2;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #331d0c;
}

.error {
    color: red;
    font-size: 14px;
}